* {
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

/* Estilos Generales */

.ancla {
    position: relative;
    /* border: 2px red solid; */
    width: 10px;
    height: 10px;
    top: -60px;
}

main {
    overflow: auto;
    height: max-content;
}

.secciones {
    min-height: 100vh;
    overflow: hidden;
    text-align: center;
}

.titulos-secciones {
    font-size: 2em;
    margin: 3rem auto 1rem auto;
}

/* Header y Barra de Navegación */

.header-menubar {
    padding: 5px 20px;
    align-items: center;
    display: flex;
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100vw;
    box-shadow: -2px 10px 18px #00000061;
    background-color: #ffffff;
}

.header-menubar img {
    width: 200px;
    margin-right: auto;
}

.header-menubar ul {
    padding: 0;
    list-style: none;
    display: block;
    width: max-content;
    margin-left: auto;
    margin-right: 10px;
}

.header-menubar li {
    text-align: center;
    display: inline-block;
    padding: 0.8rem;
    margin-left: 5px;
    border-radius: 10px;
}

.header-menubar li:hover {
    background-color: aliceblue;
}

.header-menubar a {
    color: rgb(6, 6, 154);
    font-weight: 700;
    font-family: "Roboto", sans-serif;
    width: 210px;
}

.header-menubar a:link {
    font-style: normal;
    text-decoration: none;
}

#burger-menu-button {    
    color: rgb(79, 79, 201);
    /* Esconde el boton del menu cuando esta en pantallas grandes */
    display: none;
    transition: font-size 400ms;
}

#burger-menu-button:active {
    font-size: 1.2rem;
}

@media only screen and (max-width: 650px) {
    .header-menubar {
        flex-wrap: wrap;
    }

    #burger-menu-button {
        font-size: 1.5rem;
        display: block;
        margin-left: auto;
        margin-right: 1rem;
    }
    #navigation {
        transition: max-height 1s, border-bottom 0.7s;
        display: flex;
        position: relative;
        flex-direction: column;
        width: 100%;
        max-height: 0;
        overflow: hidden;
        border-bottom: 0px solid transparent;
    }

    #navigation.active {
        max-height: 200px;
    }
    #navigation li {
        display: inline-block;
        text-align: center;
        width: max-content;
        margin: 0 auto;
    }
    #navigation li,
    #navigation a {
        width: 100%;
    }
}

/* primera seccion inicio */

#inicio {
    display: flex;
    text-align: center;
    background-image: url(../img/fondo-abstract.jpg);
    background-size: cover;
    box-shadow: inset 0px -10px 12px 0px rgba(0, 0, 0, 0.34);
}

#inicio > div {
    max-height: max-content;
    max-width: 800px;
    margin: auto;
    padding: 1rem;
}

#inicio > div > img {
    max-width: 90%;
}

#inicio > div > p {
    font-size: 1.2rem;
    color: #fff;
}

/* Configuracion del Grid seccion 2 y 3 */

.grid-container {
    display: grid;
    justify-content: center;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto;
    gap: 1.5rem;
    padding: 0 2rem 2rem;
}

.grid-item {
    min-height: 300px;
    min-width: 280px;
    max-width: 350px;
    padding: 2rem;
    border-radius: 25px;
    transition: box-shadow 0.5s, transform 0.5s, translate 0.5s, color 0.5s;
}

.grid-item:hover {
    box-shadow: 0 4px 4px rgba(63, 63, 63, 0.468);
    transform: scale(1.015);
    translate: 0px -5px;
}


@media only screen and (max-width: 1200px) {
    .grid-container {
        grid-template-columns: auto auto;
    }
}

@media only screen and (max-width: 768px) {
    .grid-container {
        grid-template-columns: auto;
    }
}

/* Segunda seccion Servicios */

#servicios {
    min-height: 550px;
    max-height: fit-content;
}

#servicios > h2 {
    color: navy;
    margin-bottom: 2.4rem;
}

.servicios-item {
    color: white;
}

.servicios-item:nth-child(1) {
    background-image: url(../img/mini-fondo-abstract1.png);
    background-size: cover;
}
.servicios-item:nth-child(2) {
    background-image: url(../img/mini-fondo-abstract2.png);
    background-size: cover;
}
.servicios-item:nth-child(3) {
    background-image: url(../img/mini-fondo-abstract3.png);
    background-size: cover;
}
.servicios-item:nth-child(4) {
    background-image: url(../img/mini-fondo-abstract4.png);
    background-size: cover;
}
.icon-servicios {
    width: 35px;
    margin: 1.5em;
}

.titulo-servicio {
    font-size: 1.5em;
    margin-bottom: 20px;
}

/* Tercera seccion Nosotros */

#nosotros {
    padding-bottom: 30px;
    min-height: 550px;
    max-height: fit-content;
    box-shadow: inset 0px 10px 15px 0px rgba(0, 0, 0, 0.356);
    background-image: url(../img/fondo-abstract.jpg);
    background-size: cover;
}

#nosotros > h3 {
    color: white;
    margin-bottom: 30px;
}

.nosotros-item {
    background-color: white;
    color: #7a7899;
}

.nosotros-item:hover {
    color: navy;
}

.nosotros-item > img {
    width: 120px;
    margin-bottom: 20px;
}

/* Cuarta Seccion Contacto */

#contacto {
    box-shadow: 0px -10px 10px #3c3c3c5f;
    color: navy;
}

#contacto iframe {
    width: 100%;
    height: 300px;
    padding: 1em;
}

.contenedor-contacto {
    display: grid;
    grid-template-columns: auto auto;
    max-width: max-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

.item-contacto {
    min-width: 400px;
    max-width: 450px;
    padding: 2rem;
}

@media only screen and (max-width: 768px) {
    .contenedor-contacto {
        grid-template-columns: auto;
    }

    .item-contacto {
        min-width: 300px;
    }
}

h4,
h5 {
    font-weight: 600;
}

.item-contacto p {
    padding: 1em 1em 0;
    text-align: center;
    line-height: 1.5em;
}

.form {
    max-inline-size: 500px;
    margin: auto;
    text-align: left;
}

.form label {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 0.5em;
    padding-inline-start: 0.5em;
}

.form label span {
    color: #da1414;
}

.form input.error,
.form textarea.error {
    border-color: red;
}

.form input,
.form textarea {
    transition: border-color 1s;
    box-sizing: border-box;
    width: 100%;
    font-size: 1rem;
    padding: 0.8em;
    border-radius: 0.5em;
    border: 2px solid navy;
}

.form textarea {
    margin-block-end: 2em;
    font-family: inherit;
    resize: none;
}

input::-webkit-input-placeholder {
    color: #0f0a0a88;
}

#submit-button-container {
    text-align: center;
}
#submit-button {
    transition: opacity .2s;
    padding: 1rem 2rem;
    cursor: pointer;
    border-radius: 10px;
    background: linear-gradient(4deg, rgb(50 9 51) 0%, rgb(45 11 62) 33%, rgb(79, 79, 201) 100%);
    color:white;
}
#submit-button:hover{
    opacity: .9;
}
.contact {
    margin-block-end: 5em;
}

/* Footer */

footer {
    color: white;
    height: 80px;
    text-align: center;
    background-image: url(../img/fondo-abstract-footer.png);
    background-size: cover;
    padding: 1rem;
}

footer div {
    height: 30px;
}

.social {
    position: relative;
    color: rgb(231, 228, 252);
    font-size: 1.5rem;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
    box-shadow: none;
    top: 0;
    text-shadow: none;
    transition: text-shadow 300ms, top 300ms, color 300ms;
}

.social:hover { 
    top:-2px;   
    color: white;
    text-shadow: 0px 2px 2px #17153334;
}

footer p {
    margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 10px;
    height: 20px;
    font-size: small;
}
